.home {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.home1 {
	background-color: #d4fafc;
	width: 100vh;
	height: 100vh;
}
.home2 {
	background-color: white;
	width: 100vh;
	height: 100vh;
}
.title {
	position: absolute;
	top: 400px;
	left: 650px;
	font-size: large;
}
